/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2014, 03:10:26 PM
    Author     : Vicky
*/

.zoomBox{
    width: 100px;
    height: 100px;
    background-image: url(images/cerebro.jpg);
    box-shadow: 10px 10px 5px #888888;
}

input#botonVerde{
    cursor:pointer;
    width: 130px;
    text-align: center;
    padding:2px 20px;
    background:#35b128;
    border:1px solid #33842a;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    color:#f3f3f3;
    font-size:1.1em; 
}


h3{
    color: #fcefa1 ;
    text-shadow: 0px 1px 0px #000, 0px 2px 0px #888, 0px 3px 0px #666, 0px 4px 0px #555, 0px 5px 0px #444, 0px 6px 0px #333, 0px 7px 0px #222, 0px 8px 7px #001135;
    font: 30px 'ChunkFiveRegular';
}
